*{
    margin: 0;
    padding: 0;
}
/* utility  */
.lh-1{
    line-height: 30px;
}
.lh-2{
    line-height: 35px;
}
/* end of utility */
/* body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

/* header */
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),url("../imgs/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* banner*/
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading-banner{
    animation-name: anim;
    animation-duration: 2s;
}
.banner-paragraph{
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}
@keyframes anim {
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    100%{
        opacity: 1;
transform: translateX(0px);
    }
}
/* end of banner */

/* navbar */
.navbar-menu{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    padding: 30px;
}
.menu-item{
    color: #eee;
    font-size: 17px;
    transition: color 0.3s;

}
.menu-item:hover{
    color: #70aed2;
    
}
.line1, .line2, .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s;
}
.change .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
.custom-navbar{
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7));
    transition: all 0.4s;
}
/* end of navbar */
/* end of header */